#result{
    margin-top: 301px;
    color: black;
    z-index: 10;
    position: absolute;
}

#map-canvas {width:100%;height:800px;margin: 0 auto;padding: 0px;}
#panel {
        position: absolute;
        z-index:5;
        margin-top: 135px;
        margin-left: 30px;
        background-color: $color-font;
        padding: 15px;
        width: 355px;

        .separ{
            padding-top: 10px;
        }

        input {
            line-height: normal;
            width: 305px;
            /* text-align: center; */
            margin-left: 10px;
        }
    }

#submit{
    z-index: 6;
    margin-top: 25px;
    position: absolute;
    margin-left: 30px;
    width: 355px;
    border-style: none;
    background-color: $color-principal;
    padding: 7px;
    color: $color-font;
}

header{

    .navbar{
        background:black;

        .fa{
                font-size: 53px;
                 margin-top: 3%;
                 color:$color-principal;
        }
    }

    .logo{
        height: 46px;
   margin: -4px -23px -23px 28px;
    }


a {
  &.tooltips {
    position: relative;
    display: inline;

    div {
      font-family: 'Mandali', sans-serif;
      position: absolute;
      width: 300px;
      color: black;
      background: $color-font;
      height: 230px;
      text-align: center;
      visibility: hidden;
      border-radius: 9px;

      &:after {
        position: absolute;
        bottom: 100%;
        left: -340%;
        margin-left: -8px;
        width: 0;
        height: 0;
        border-bottom: 8px solid $color-font;
        border-right: 8px solid transparent;
        border-left: 8px solid transparent;
      }
    }
  }

  &:hover.tooltips div {
    visibility: visible;
    opacity: 1;
    top: 30px;
    left: 50%;
    margin-left: -76px;
    z-index: 999;
  }
}

    p{
     margin-top: 1%;
     font-size: 17px;
     padding: 1px;
}

}
#moviles{
  z-index: 20;
  position: absoluta;
  margin-top: -483px;
  margin-left: 46px;
  width: 710px;
}
#ruta{
        /* border: 1px solid #FEFDF7; */
    /* border-radius: 7px; */
    background-color: $color-font;
    padding: 15px;
    margin-top: -5px;
    width: 355px;
}

#search2{
    z-index: 6;
    margin-top: 11px;
    position: absolute;
    border-radius: inherit;
    margin-left: 51px;
    width: 305px;
    border-radius: none;
    background-color: $color-principal;
    padding: 3px;
    color: $color-font;
    border-style: none;

}
#carro{
    @extend #ruta;
    margin-top: 3px;
    height: 380px;
    h4{
        font-weight:bold;
    }
}
#sel1, #sel2, .psj{
    border: 1px solid $color-principal;
}
.radio{
    margin-top: -5px;
    margin-bottom:-5px;
    img{
        display: $display;
        position:relative;
    }
    h4{
        display: $display;
        position:relative;
        left: 5px;
        font-weight: bold;
    }
    span{
        display: block;
        position:relative;
        left: 80px;
        top:-18px;
    }
}
.auto{
    width:50px;
    height:50px;
}
.cantidad{
     font-weight: bold;
     display: $display;
     padding: 5px;
    }
.psj{
    width: 40px;
    display:$display;
}